@model List<Models.ViewModel.ProductViewModel>
@{
    ViewBag.Title = "Product search results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section slide {
    <div class="header_slide">
        <div class="header_bottom_left">
            <div class="categories">
                @{ Html.RenderAction("ProductCategory", "Product");}
            </div>
        </div>
        <div class="clear"></div>
    </div>
    }*@

<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Product search results of: @ViewBag.Keyword</h3>
        </div>
        <div class="see">
            <p><a href="#">See all Products</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                var link = "/ProductDetail/" + item.MetaTitle + "-" + item.ID;
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="@link"><img src="@item.Images" alt="@item.Name" width="180" height="180" /></a>
                    <h2>@item.Name</h2>
                    <span>@item.ProCateName</span>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">$@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Ask us")</span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="/addtocart?productId=@item.ID&quantity=1">Add to Cart</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
            }
        <!-- Page index - next & prev -->
            <div class="clear"></div>
            if (ViewBag.totalPage >= 1)    // The author was wrong on this page index part
            {
                var pageDisplay = (int)ViewBag.maxPage;
                int totalPage = (int)ViewBag.totalPage;
                int currentPage = (int)ViewBag.pageIndex;
                //Create numeric links
                var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                var link = "/Search?keyword=" + ViewBag.Keyword;
                @*<div>@currentPage</div>*@
                <nav>
                    <ul class="pagination">
                        @if (currentPage > ViewBag.First)
                        {
                            <li><a href="@link&pageIndex=@ViewBag.First" title="First" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                            <li>
                                <a href="@link&pageIndex=@ViewBag.Prev" title="Previous" class="prev"><i class="fa fa-angle-left"></i></a>
                            </li>

                        }
                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                    {
                        if (currentPage == i)
                        {

                                <li> <a href="@link&pageIndex=@i" class="active" title="Page @i">@i</a></li>
                            }
                            else
                            {
                                <li><a href="@link&pageIndex=@i" title="Page @i" class="pos">@i</a></li>
                            }
                        }
                        @if (currentPage < totalPage)
                    {
                            <li><a href="@link&pageIndex=@ViewBag.Next" class="next" title="Next"><i class="fa fa-angle-right"></i></a></li>
                            <li> <a href="@link&pageIndex=@ViewBag.Last" class="last" title="Last"><i class="fa fa-angle-double-right"></i></a></li>
                        }
                    </ul>
                </nav>

            }
            else
            {
                <span>No product can be found.</span>
            }
        }
        else
        {
            <span>Found no matching product.</span>
        }
        
    </div>
</div>

